include ./head

doctype html
block variables
  -
    const lang = ""
    const title = ""
    const bodyClassName = ""

html(lang=lang)
  +head(title, bodyClassName)
  body(class=bodyClassName)
    block content

    script(src="js/vendor.js")
    script(src="js/main.js")
