mixin sidebar()
  aside.sidebar
    button.sidebar__button( type="button" aria-label="Показать или скрыть сайдбар" )
    ul.sidebar__menu
      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item

      li.sidebar__menu-item
        a.sidebar__menu-link(href="")
          span.sidebar__menu-icon
          span.sidebar__menu-title menu item
