block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "";

block content
  ul
    li
      a( href="register.html" ) register.html --- Регистрация
    li
      a( href="profile.html" ) profile.html --- Профиль
