extends ../layouts/empty-layout

block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "empty-layout";

block content
  main.login-page
    form( action="/" method="POST" )
      h1.title.title-middle Добро пожаловать!
      .form-group
        .input-field
          input( id="register-email" type="email" class="validate" )
          i.material-icons.tiny email
          label( for="register-email" ) Email
          small Введите email
        .input-field
          input( id="register-pass" type="password" class="validate" )
          i.material-icons.tiny vpn_key
          label( for="register-pass" ) Пароль
          small Введите пароль
      .form-group.form-group__login
        button.btn.btn-green.waves-effect.waves-light( type="submit" name="action" ) Войти
        a( href="#" ) Забыли пароль?

      .form-group.form-group__has-account
        p Еще нет аккаута?
        button.btn.waves-effect.waves-light( type="button" name="action" ) Зарегистрироваться
