extends ../layouts/empty-layout

block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "";

block content
  p.test Lorem

  .row
    .input-field.col.s6
      input(laceholder="Placeholder" id="first_name" type="text" class="validate")
      label(for="first_name") First Name
  a( href="#" ).btn.waves-effect.waves-teal button
