include ../global/head
include ../global/header
include ../global/footer

doctype html
block variables
  -
    const lang = ""
    const title = ""
    const bodyClassName = ""

html(lang=lang)
  +head(title, bodyClassName)
  body(class=bodyClassName)
    +header()
    block content
    +footer()
    script(src="js/vendor.js")
    script(src="js/main.js")
