.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  margin-top: 63px;
  transform: translateX(0);
  box-shadow: 4px 0 4px -4px rgba($color-black-hex, 0.75);
  transition: transform $transition-props;
}


.sidebar__menu,
ul.sidebar__menu:not(.browser-default) {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
  transition: transform $transition-props;
}

.sidebar__button {
  // TODO dev only
  position: absolute;
  top: 10px;
  right: -41px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}

.sidebar__menu-item {
  position: relative;
}

.sidebar__menu-icon {
  // TODO dev only
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: purple;
}

.sidebar__menu-link {
  display: block;
  padding: 21px 44px;
}

// animation sidebar

.sidebar.collapse {
  transform: translateX(-100%);

  .sidebar__menu {
    // transform: translateX(76%);
  }

  .sidebar__button {
    // right: -100%;
  }

  .sidebar__menu-title {
    // display: none;
  }

  .sidebar__menu-icon {
    // transform: translateX(0);
  }

  & + .profile {
    padding-left: 25px;
  }
}
