.page {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 100vh;
  min-width: $width-min;

  background-color: $color-theme-bg-light;
  overflow-x: hidden;
}

.page__content {
  position: relative;
  width: 100%;
  margin-left: 20%;
}

.page__content.collapse {
  margin-left: 0;
}

.page__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
}
