.profile {
  display: flex;
  width: 100%;
  padding-left: 40px;
}

.profile h1 {
  margin-bottom: 30px;
}

.profile__user {
  display: flex;
  padding-bottom: 45px;
  margin-bottom: 50px;
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid $color-gray;
  margin-right: 25px;
  flex-shrink: 0;
}

.profile__avatar-image {
  width: 150px;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  margin-bottom: 5px;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  margin: 0;
  padding: 0;

  font-size: 14px;
  color: $color-gray;

  background-color: transparent;
  border: none;
  box-shadow: none;

  @include basic-hover-effect();

  & svg {
    width: 24px;
    height: 24px;

    @include basic-hover-effect();
  }

  &:hover {
    background-color: transparent;
  }

  cursor: pointer;
}

.profile__edit-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.profile__user-data {
  position: relative;
  width: 100%;
}

.profile__user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;
}

.profile__user-name-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile__firstname,
.profile__lastname {
  margin: 0;
  padding: 0;
}

.profile__firstname {
  margin-right: 10px;
}

.profile__user-name-edit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;

  .input-field {
    width: 45%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  input[type="text"]:not(.browser-default) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
  }
}

.profile__user-edit-save {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
}

.profile__contacts {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile__contacts-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile__info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__info-title {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  margin-bottom: 55px;
  overflow: hidden;
}

.profile__info-add-new {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  font-family: $main-font;
  text-transform: none;
  text-decoration: underline;

  @include basic-hover-effect();

  &:hover,
  &:focus {
    background: none;
    border: none;
    box-shadow: none;
  }

  transition: opacity $transition-props;
}

.profile__contacts p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: $main-font;
  text-align: center;
}

.profile__contacts-header h3 {
  padding: 15px;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;

  @include basic-hover-effect();

  color: $color-black;

  &:first-child {
    border-right: 1px solid $color-gray;
  }

  &.active {
    position: relative;

    &:hover::after,
    &:focus::after {
      @include basic-hover-effect();

      background-color: $color-indigo;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: inherit;

      background-color: $color-gray;
    }
  }
}
