include ../../utils/svg

header.header
	.header__logo-wrap
		.header__logo
			span.header__logo-text Weddings and...
			span.header__logo-descr My notebook and planner

	.header__notification
		a.dropdown-trigger( href="#" data-target="dropdown-header" )
			+svg("notifications", 24, 24)
		ul.header__notification-list.dropdown-content( id="dropdown-header" data-simplebar )
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Напоминание такое-то о том-то и том-то
					span
						+svg-includes("info")
						+svg("info", 24, 24)
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Еще одно большое напоиминапие: позвонить, написать
					span
						+svg("info", 24, 24)
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Еще одно большое напоиминапие: позвонить, написать
					span
						+svg("info", 24, 24)
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Еще одно большое напоиминапие: позвонить, написать
					span
						+svg("info", 24, 24)
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Еще одно большое напоиминапие: позвонить, написать
					span
						+svg("info", 24, 24)
			li.header__notification-item
				a.header__notification-link( href="#" title="" ) Еще одно большое напоиминапие: позвонить, написать
					span
						+svg("info", 24, 24)

	.header__nav
		a.dropdown-trigger( href="#" data-target="dropdown-header" )
			+svg("person", 25, 25)
		ul.header__user-nav.dropdown-content( id="dropdown-header" )
			li.header__user-item
				a.header__user-link( href="#" ) Профиль
			li.header__user-item
				a.header__user-link( href="#" ) Настройки
			li.divider( tabindex="-1" )
			li.header__user-item
				a.header__user-link( href="#" ) Выйти

