head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	title!= title

	//- FONTS
	link(rel="preload" href="/assets/fonts/PTSans-regular.woff2" as="font" crossorigin="anonymous")
	link(rel="preload" href="/assets/fonts/Tenor_Sans_regular.woff2" as="font" crossorigin="anonymous")

	//- ICON
	link(rel="shortcut icon" href="favicon.ico")

	//- VIDEO
		link(rel="preload" href="video/light.webm" as="video" crossorigin="anonymous")

	//- STYLES
	// Import Google Icon Font
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
