input,
input[type=email]:not(.browser-default),
input[type=password]:not(.browser-default) {
  height: auto;
  margin: 0;
  padding: 10px 0;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.2;

  transition: opacity $transition-props;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 1;
    border-bottom: 1px solid $color-blue;
    box-shadow: 0 1px 0 0 $color-blue;

    &+label {
      transition: opacity $transition-props;
      opacity: 1;
      color: $color-blue;
    }
  }
}

label {
  font-size: 16px;
}

.input-field>label:not(.label-icon).active {
  transform: translateY(0) scale(0.8);
}

small {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 0;
  color: $color-danger;
}

small.active {
  display: block;
}
