extends ../layout/empty-layout

block variables
	-
		const lang = "ru";
		const title = "ICRM";
		const bodyClassName = "";

block content
	main.index-page
		h2.title.title-middle ICRM
		ul
			li
				a( href="register.html" ) register.html --- Регистрация
			li
				a( href="login.html" ) login.html --- Вход
			li
				a( href="pass-recovery-send.html" ) pass-recovery-send.html --- Востановить пароль(отправить запрос)
			li
				a( href="pass-recovery-save.html" ) pass-recovery-save.html --- Востановить пароль(сохранить новый)
			li
				a( href="profile.html" ) profile.html --- Профиль
			hr
			li
				a( href="components.html" ) components.html --- UI KIT
