extends ../layout/main-layout

block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "main-layout";

block content
  include ../includes/modules/sidebar
  main.profile
    .contaiter
      //- img( src="img/lynx.png" )
      //- img( src="img/logo.png" )
      p.test
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
