extends ../layout/main-layout

block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "main-layout";

block content
  include ../includes/modules/sidebar
  main.profile
    .contaiter
      //img( src="lynx.png" width=100 height=100 )
      img( src="img/lynx.png" alt="lynx" )
      p.test
      |  dsdsdestibumaximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor dsdsdsit amet,dfdf consectetudr adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem idsdpsum dolor sit amet, <consectetursdasdsd>zxzx</cosdsddsdsdnsectetursdasdsd> adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dcdsdhghgholor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consecteturdsdd adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
      |  Lorem ipsum dolor sit amet, consectetur  adipiscing elit. Praesent et diam nec nunc gravida pretium. Vestibulum maximus molestie eros, non finibus nibh. Aenean eget pulvinar dui. Integer pharetra condimentum dui vel eleifend.
