extends ../layout/empty-layout

block variables
  -
    const lang = "ru";
    const title = "ICRM";
    const bodyClassName = "empty-layout";

block content
  main.login-page.login-page--register
    form( action="/" method="POST" )
      h1.title.title-middle Регистрация
      .form-group
        .input-field
          input( id="register-email" type="email" class="validate" )
          i.material-icons.tiny email
          label( for="register-email" ) Email
          small Введите email
        .input-field
          input( id="register-pass" type="password" class="validate" )
          i.material-icons.tiny vpn_key
          label( for="register-pass" ) Пароль
          small Введите пароль
        .input-field
          input( id="register-pass-repeat" type="password" class="validate" )
          i.material-icons.tiny vpn_key
          label( for="register-pass-repeat" ) Повторите пароль
          small Введите пароль

        button.btn.btn-green.waves-effect.waves-light( type="submit" name="action" ) Зарегистрироваться
      .form-group.form-group__has-account
        p Уже есть аккаут?
        button.btn.waves-effect.waves-light( type="button" name="action" ) Войти
