$width-max: 1920px;
$width-desktop-m: 1600px;
$width-desktop: 1440px;
$width-laptop: 1024px;
$width-tablet: 768px;
$width-mobile-l: 465px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: 'PT Sans', 'Arial', sans-serif;
$title-font: 'Tenor Sans', 'Arial', sans-serif;

$font-base: 20px;
$font-base-line-height: 24px;

$color-text-black: #010101;
$color-bg-base: #ffffff;

$color-orange: #fe5200;
$color-white-simple: #f2eae7;

$color-pale-grey: #eff3f6;
$color-greyish: #b7b7b7;
$color-light-navy: #18498b;
$color-pastel-red: #dd5858;
$color-rouge: #95252f;
$color-black: #333333;
$color-bluey-grey: #8e9daf;
$color-pastel-red-three: #dd5858;
$color-pastel-red-two: #dd5858;
$color-pastel-red-four: #dd5858;
$color-light-lavendar: #ffbaff;
$color-white: #ffffff;
$color-white-two: #f7f7f7;

$color-kelly-green: #00b51a;
$color-neon-pink: #fe0096;
$color-warm-blue: #5051e1;
$color-purpley-pink: #c33597;
$color-lipstick: #e83361;
$color-macaroni-and-cheese: #e9982a;
$color-light-mustard: #f3d76a;
$color-light-rose: #fec9d3;
$color-black-four: #111111;
$color-tomato: #e62117;
$color-cool-blue: #5181b8;
$color-black-five: #000000;
$color-denim-blue: #3c5a99;
$color-greyish-brown: #4a4a4a;
$color-warm-grey: #969696;

//TRANSITIONS
//! example: transition: blur $transition-props, opacity $transition-props;
$transition-duration: 0.3s;
$transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
$transition-props: $transition-duration $transition-timing-function;
