.main-layout {
  @media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 0;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: flex!important;
    }
  }
}
