.main-layout {
  @media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 0;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: flex!important;
    }
  }

  @media only screen and (min-width: 601px) {
    .nav-wrapper i{
      height: 0;
      line-height: 0;
    }
  }

  nav ul a:hover, nav ul li.active {
    background-color: transparent;
  }
}
